<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.clock.mapper.UserLoginMapper">

    <update id="alterPassword" parameterType="java.lang.String">
        update user_login set password = #{password} where user_id = #{loginUserId}
    </update>

</mapper>